html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: 'quicksand';
    background-color: white;
}
button{
    font-family: 'quicksand';
}
::-webkit-scrollbar{
    display: none;
}
.hide{
    display: none;
}
.hero {
    display: inline-block;
    width: 100%;
    height: 115%;
    position: absolute;
    z-index: 0;
    top: 0%;
}
.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(148deg, #326199 0%, #4fb1a1 85%);
    clip-path: polygon(0 0, 0 100%, 100% 90%, 100% 0);
}
.title{
    height: 10%;
    display: block;
    position: absolute;
    top: 200px;
    width: 100%;
    left: 10%;
    margin: auto;
    color: white;
    text-align: left;
    z-index: 1;
    transition: all 1s ease;
    opacity: 1;
}
.title>h1{
    font-size: 40px;
    font-weight: 500;
    margin: auto;
    margin-top: 2%;
    margin-left: 0;
}
.title>h3{
    margin-top: 1%;  
}
.navbar{
    list-style-type: none;
    margin: 0;
    z-index: 2;
    position: absolute;
    top: 330px;
    left: 10%;
    color: transparent;
    height: 5%;
    padding: 0;
    width: 80%;
    z-index: 1;
    transition: all 1s ease;
}  
ul.navbar li{
    float: left;
    height: 100%;
    width: 13%;
    margin-left: 0%;
    margin-right: 3%;
}  
ul.navbar li a{
    color: white;
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 14px;
    padding-top: 10px;
    padding-bottom: 15px;
    transition: all 0.3s ease;
    border-bottom: solid 2px rgba(255, 255, 255, 0.5); 
}
ul.navbar li a:hover{
    border-bottom: solid 2px rgba(255, 255, 255, 1); 
    cursor: pointer;
}
.whitebg{
    background-color: white;
}
.cut{
    position: fixed;
    background-image: url('../img/via-lattea.jpg');
    background-position: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 0%;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
}
#init, #div-msg{
    position: fixed;
    background-color: white;
    z-index: 5;
}
#div-msg{
    z-index: 6;
}
#div-msg .close i{
    display: none;
    color: #326199;
}
#div-msg h2{
    position: absolute;
    top: 46%;
    left: 25%;
    width: 50%;
    height: 4%;
    text-align: center;
    font-size: 40px;
    padding-bottom: 2%;
    
}
#div-msg h2{
    color: #cc0000;
    border-bottom: #cc0000 solid 2px;
}
.close{
    position: absolute;
    top: 2%;
    right: 0%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.close i{
    font-size: 30px;
    color: white;
}
.citazioni{
    position: absolute;
    top: 35%;
    left: 7%;
    width: 30%;
    height: 30%;
    color: white;
}
.citazioni h2{
    font-size: 40px;
    text-align: right;
    margin-top: 5%;
}
.citazioni p{
    font-size: 24px;
}
.frm{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 60%;
    height: 60%;
    margin: 0;
    padding: 0;
}
.frm input, .frm button{
    position: relative;
    top: 20%;
    left: 50%;
    width: 28%;
    height: 8%;
    margin: 2% 11%;
    padding: 0;
    background-color: transparent;
    border: none;
    outline-style: none;
    color: white;
    border-bottom: solid 2px rgba(255, 255, 255, 0.1); 
    transition: all 0.3s ease;
    text-align: center;
}
.frm input:hover{
    border-bottom: solid 2px rgba(255, 255, 255, 0.6);
}
.frm input:focus{
    border-bottom: solid 2px rgba(255, 255, 255, 1);
}
.frm input::placeholder{
    color: white;
    opacity: 0.5;
    text-align: center;
}
.frm button:hover{
    border-bottom: solid 2px rgba(255, 255, 255, 1);
    cursor: pointer;
}
.frm .btnlogout{
    top: 35%;
}
.introcorpicelesti{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 115%;
    left: 0%;
}
.introraggruppamenti{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 215%;
    left: 0%;
}
.introastronomi{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 315%;
    left: 0%;
}
.content h1{
    font-size: 45px;
    padding: 3%;
    padding-left: 10%;
    color: #326199;
}
.content p{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 50%;
    font-size: 18px;
}
.content .leftline{
    position: absolute;
    top: 650px;
    left: 10%;
    height: 8px;
    width: 1260px;
    background: linear-gradient(90deg, #326199 0%, #4fb1a1 85%);
}
.content .leftline::before{
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background-color: #326199;
}
.content .leftline::after{
    content: '';
    position: absolute;
    top: -4px;
    left: 1256px;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background-color: #4fb1a1;
}
.content h3{
    position: absolute;
    top: 60%;
    left: 12%;
    width: 20%;
    color: #4fb1a1;
    font-size: 30px;
    line-height: 130%;
}
.content .iconcard{
    position: absolute;
    top: 63%;
    left: 31%;
    width: 20%;
    color: #4fb1a1;
    font-size: 40px;
}
.content .card{
    position: relative;
    border-radius: 20px;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 2%;
    top: 30%;
    width: 250px;
    height: 250px;
    -webkit-box-shadow: 10px 10px 25px 0px rgba(50, 97, 153,0.5);
    -moz-box-shadow: 10px 10px 25px 0px rgba(50, 97, 153,0.5);
    box-shadow: 10px 10px 25px 0px rgba(50, 97, 153,0.5);
    transition: all 0.5s ease;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: -25%;
}
.content .card:hover{
    cursor: default;
}
.content .card:nth-of-type(1){
    background-image: url(../img/stella.jpg);
    margin-left: 37%;
}
.content .card:nth-of-type(2){
    background-image: url(../img/pianeta.jpg);
}
.content .card:nth-of-type(3){
    background-image: url(../img/satellite.jpg);
}
.card .ciao{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%;
    border-radius: 20px;
    transition: all 0.5s ease;
    z-index: 3;
}
.card .ciao:nth-of-type(1){
    background-color: #ff780f;
}
.card:nth-of-type(2) .ciao{
    background-color: #326199;
}
.card:nth-of-type(3) .ciao{
    background-color: grey;
}
.card h2{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 94%;
    height: 5%;
    font-size: 40px;
    padding: 3%;
    text-align: center;
    margin: 0;
    margin-top: 25%;
    transition: all 0.5s ease;
    user-select: none;
    color: white;
}
.content .card:hover .ciao{
    width: 100%;
    left: 0%;
    height: 100%;
    top: 0%;
}
.content .card p{
    position: absolute;
    top: 30%;
    left: 15%;
    width: 70%;
    height: auto;
    color: white;
    font-size: 18px;
    text-align: center;
    display: none;
}
.frmbtn{
    position: absolute;
    top: 45%;
    left: 0%;
    width: 100%;
    height: 60%;
}
.frmbtn button{
    position: absolute;
    top: 25%;
    left: 15%;
    width: 70%;
    height: 40%;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
    transition: all 0.3s ease;
    font-size: 15px;
}

.frmbtn button:nth-of-type(1){
    z-index: 3;
}
.frmbtn button:nth-of-type(1):hover{
    color: #326199;
    cursor: pointer;
}
.frmbtn button:nth-of-type(1):hover + button{
    color: #326199;
}
.frmbtn button:nth-of-type(1):hover + button:nth-of-type(2){
    background-color: white;
}
.frmbtn button i{
    position: relative;
    left: -20%;
    float: right;
}
.card h2, .card p, .card form{
    opacity: 0;
    transition: all .5s ease;
    z-index: 4;
}
.card:hover h2, .card:hover p, .card:hover form{
    opacity: 1;
}
div.admin{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 5%;
    background: linear-gradient(145deg, #326199 -20%, #4fb1a1 60%);
    color: white;
    font-size: 27px;
    padding: 2%;
    margin: 0;
    z-index: 4;
}
div.admin a{
    position: absolute;
    top: -4px;
    left: 0%;
    color: white;
    font-size: 27px;
    margin: 1%;
    padding: 1%;
    text-decoration: none;
    transition: all 0.5s ease;
    border-bottom: 2px solid rgb(255, 255, 255, 0.5);
}
div.admin a:nth-of-type(2){
    left: 8%;
}
div.admin a:hover{
    border-bottom: 2px solid rgb(255, 255, 255, 1);
}
select.admin{
    position: absolute;
    top: 4%;
    left: 81%;
    width: 16%;
    height: 5%;
    outline: none;
    border: none;
    background-color: #4fb1a1;
    color: white;
    font-size: 20px;
    transition: all 0.5s ease;
    border-bottom: 2px solid rgb(255, 255, 255, 0.5);
    z-index: 5;
}
form.admin{
    position: absolute;
    top: 3%;
    left: 10%;
    width: 150px;
    height: 50px;
    color: white;
    z-index: 5;
}
form.admin button{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 150px;
    height: 50px;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    transition: all 0.5s ease;
    border-bottom: 2px solid rgb(255, 255, 255, 0.5);
    font-size: 20px;
}
form.admin button:hover{
    cursor: pointer;
    border-bottom: 2px solid rgb(255, 255, 255, 1);
}
div.tableadmin{
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 70%;
    font-size: 15px;
    overflow: scroll;
}
table.admin{
    position: absolute;
    top: 0%;
    left: 0%;
    
}
table.admin thead, table.admin tbody{
    position: relative;
    top: 0%;
    left: 0%;
}
table.admin thead{
    border: 2px solid #326199;
}
table.admin thead th{
    width: 0;
    padding: 20px;
    text-align: center;
}
table.admin tbody td{
    width: 0;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #326199;
}
table.admin tbody td:nth-of-type(1){
    border-left: 1px solid #326199;
}
table.admin thead th,table.admin tbody td{
    border-right: 1px solid #326199;
}
table.admin tbody td:nth-of-type(1){
    border-left: 2px solid #326199;
}
table.admin tbody td:last-of-type{
    border-right: 2px solid #326199;
}
table.admin tbody td form button{
    border: none;
    outline: none;
    background-color: transparent;
    color: #326199;
}
table.admin tbody td form button:hover{
    cursor: pointer;
}
.frminsert, .frmmodify{
    position: absolute;
    top: 18%;
    left: 25%;
    width: 50%;
    height: auto;
}
.frminsert input, .frmmodify input, .frminsert select, .frmmodify select{
    position: relative;
    top: 0%;
    left: 0%;
    width: 50%;
    padding: 2%;
    margin: 2% 25%;
    float: left;
    border: none;
    outline: none;
    transition: all 0.5s ease;
    border-bottom: 4px solid rgb(50, 97, 153, 0.4);
}
.frminsert select, .frmmodify select{
    width: 54%;
}
.frminsert input:hover, .frmmodify input:hover, .frminsert select:hover, .frmmodify select:hover{
    border-bottom: 4px solid rgb(50, 97, 153, 0.7);
}
.frminsert input:focus, .frmmodify input:focus, .frminsert select:focus, .frmmodify select:focus{
    border-bottom: 4px solid rgb(50, 97, 153, 1);
}
.frminsert button, .frmmodify button{
    position: fixed;
    top: 3%;
    right: 2%;
    height: 7%;
    color: white;
    font-size: 27px;
    border: none;
    outline: none;
    background-color: transparent;
    transition: all 0.5s ease;
    border-bottom: 2px solid rgb(255, 255, 255, 0.5);
    z-index: 5;
}
.frminsert button:hover, .frmmodify button:hover{
    border-bottom: 2px solid rgb(255, 255, 255, 1);
    cursor: pointer;
}
.herolist{
    height: 90%;
    top: 0%;
}

.herolist .hero-bg{
    clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
}
.titlelist{
    top: 0%;
    left: 5%;
    width: 10%;
    height: 50px;
    border-bottom: solid 2px rgba(255, 255, 255, 1);
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    margin-top: 18px; 
}
.titlelist h1{
    text-align: center;
}
.navbarlist{
    top: 0%;
    left: 18%;
    width: 82%;
    height: 60px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}
.navbarlist li div{
    position: absolute;
    top: 100%;
    left: -80%;
    height: 250%;
    width: 45%;
    background-color: white;
    transition: all 1s ease;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
}
.navbarlist li:hover div{
    left: 16%;
}
.lista{
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    margin-bottom: 3%;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    transition: all 1s ease;
}
.lista div{
    padding: 0;
    margin: 0;
    position: relative;
    float: left;
    top: 0%;
    left: 0%;
    width: 96%;
    margin: 8px 3%;
    height: 10%;
}
.lista div:nth-of-type(1){
    margin: 2% 3% 1%;
}
.lista div:nth-of-type(1) p{
    border-bottom: 1px solid #326199;
}
.lista div p, .lista div span{
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    height: 20px;
    padding: 20px 0;
    text-align: center;
    width: 22%;
}
.lista .headlist p:last-of-type{
    width: 10%;
}
.lista div span{
    width: 10%;
    height: 40px;
    padding: 0;
    padding-top: 20px;
}
.lista div span a{
    width: 100%;
    text-decoration: none;
    color: #326199;
    font-weight: 600;
    cursor: pointer; 
    padding: 0;
    margin: 0;
}